body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 10px;
}

img {
  width: 150px;
}